

.main_dash_area {
    height: 100vh;
    overflow: hidden;
}
.main-area-all {
    background-color: #fff;
    /* padding-left: 5px; */
    overflow-y: auto;
}
.dashboard_main-container {
    padding: 0px 10px 20px 10px;
    background-color: #f6f6f6;
}
.dash-main-head {
    margin-bottom: 20px;
}
.dash-main-head h2 {
   
    position: relative;
    padding-bottom: 5px;
    margin: 0;
    /* border-bottom: 1px solid #e0e0e0; */
    background-color: #fff;
    padding: 12px 20px;

}
.dash-main-head h2::after {
    content: '';
    width: 4px;
    height: 100%;
    background-color: rgb(199 87 34);
    position: absolute;
    bottom: 0;
    left: 0px;
}
.dash-cont-start{
    background-color: #fff;
    padding: 30px 20px;
    height: 79vh;
    overflow: auto;
}
.dash_over_view {
    background-color: #fff;
    padding: 15px 15px;
}
span.over_view_total_head {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #6f6c6c;
}
.over_view_total_line {
    width: 100%;
    height: 12px;
    background-color: #e0e0e0;
    margin-top: 7px;
    border-radius: 5px;
}

.over_view_total_load {
    width: 10%;
    height: 12px;
    background-color: #4c95ca;
    border-radius: 5px 0px 0px 5px;
}
.over_view_total_rec {
    margin-bottom: 25px;
}
.over_view_total_breakout {
    padding: 10px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.view_total_breakout_part {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}
.view_total_breakout_part {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    /* border-left: 1px solid #e0e0e0; */
    /* padding-left: 20px; */
    width: 20%;
}
.view_total_breakout_part:first-child{
    border-right: 1px solid #e0e0e0;
}
span.total_breakout_part_name {
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    height: 15px;
    font-weight: 700;
}
span.total_breakout_part_name.name-blue {
    color: #4c95ca;
}
span.total_breakout_part_name.name-red {
    color:rgb(224, 53, 53);
}
span.total_breakout_part_amount {
    font-size: 21px;
    padding-left: 5px;
    padding-top: 5px;
}
span.total_breakout_part_name_sub {
    font-size: 10px;
    color: #7f7b7b;
    letter-spacing: 0.5px;
}

/* customer  */
.customer-new-main {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    padding-top: 10em;
    height: 80vh;
}
/* creat customer new */
.creat-customer-form form {
    width: 50%;
}
.creat-customer-form .form-group {
    display: flex;
}
label.form-lable.form-label {
    width: 40%;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding-top: 4px;
}

label.form-lable.form-input{
    width: 60%;
}

.addnew_custom_form {
    background-color: #fff;
    padding: 30px 20px;
}
.creat-customer-form .form-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}
.creat-customer-form input::placeholder {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.creat-customer-form .form-check {
    text-align: left;
    display: flex;
    align-items: start;
    width:50%;
    color: #7d7777;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.creat-customer-form  .form-name-main {
    width: 35%;
    font-size: 14px;
    padding: 0;
    height: 35px;
    padding: 4px 5px;
    margin-right: 10px;
}
.creat-customer-form input#formName:last-child {
    margin-right: 0px;
}
.creat-customer-form  #formName {
    height: 35px;
    margin-right: 10px;
}
.creat-customer-form input#companyPhone:last-child {
    margin-right: 0px;
}
.creat-customer-form .companyPhone {
    margin-right: 10px;
}
.creat-customer-form .form-check-inp.form-check {
    width: 100% !important;
}
.creat-customer-form select {
    font-size: 13px;
}
.customer-creat-btns {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    width: 100%;
}
.customer-creat-btns button {
    font-size: 14px;
    letter-spacing: 0.5px;
}
/* organsization */
.org-main-area {
    /* border: 1px solid #d0d0d0; */
    padding: 10px;
    margin-top: 5em;
    display: flex;
    flex-flow: column;
}
.org-main-area .org-main-head {
    display: flex;
    justify-content: space-between;
}

.org-main-area .org-main-head-name {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.org-main-area .org-main-head-sub {
    width: 48%;
}
.org-main-area .org-main-head-sub p {
    font-size: 13px;
    color: #696666;
    letter-spacing: 0.5px;
}

.org-main-area .creat-new-org button.btn.btn-primary {
    height: 35px;
    font-size: 14px;
    background-color: #fff;
    color: #007bff;
}
.org-main-area .creat-new-org button.btn.btn-primary:hover{
    background-color: #007bff;
    color:#fff ;
}

.org-main-area .org-main-part {
    border: 1px solid #c5c5c5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.org-main-area  .org-main-img {
    width: 150px;
}
.org-main-area  .org-main-details {
    width: 65%;
}
.org-main-area  .org-admin-name {
    font-size: 15px;
    letter-spacing: 0.5px;
}
.org-main-area .org-main-created {
    font-size: 13px;
    padding: 3px 0px;
    letter-spacing: 0.5px;
}
.org-main-area .org-main-id{
    font-size: 13px;
    padding: 3px 0px;
    letter-spacing: 0.5px;
}

.org-main-area .org-main-editor{
    font-size: 13px;
    padding: 3px 0px;
    letter-spacing: 0.5px;
}
.org-main-area  .org-admin-text p {
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.org-main-area .org-go-btn button.btn.btn-primary {
    height: 35px;
    font-size: 14px;
    background-color: #fff;
    color: #007bff;
}
.org-main-area .org-go-btn button.btn.btn-primary:hover{
    background-color: #007bff;
    color:#fff ;
}

.org-main-area  .org-go-btn img {
    width: 20px;
    transition: a11 0.3s;
}
.org-main-area .org-go-btn img:hover {
    width: 22px;
}
.org-main-area .org-main-img {
    width: 150px;
    text-align: center;
    background-color: #f6f6f6;
    position: relative;
}
.org-main-area  .org-main-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
}

/* create new organization */
.create-new-org-form {
    width: 60%;
    margin: auto;
    margin-top: 3em;
}
.create-new-org-form input::placeholder {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.create-new-org-form .form-input {
    height: 35px;
}
.create-new-org-form .form-input {
    display: flex;
    justify-content: space-between;
}

.create-new-org-form  input.form-loc.form-control {
    margin-right: 10px;
}
.create-new-org-form  input.form-loc.form-control:last-child {
    margin-right: 0px;
}